<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="utf-8"/>
        <title>Handlebars Extension Test File</title>
    </head>

    <body>

        {{#if people}}
            <ul class="people">
                {{#person}}
                    <li id="{{id}}" class="person">
                        {{{firstname}}} {{helper lastname}}
                    </li>
                {{/person}}
            </ul>
        {{else}}
            <p>There is nobody.</p>
        {{/if}}

        {{!-- Whitespace Control --}}

        {{#each nav ~}}
          <a href="{{url}}">
            {{~#if test}}
              {{~title}}
            {{~^~}}
              Empty
            {{~/if~}}
          </a>
        {{~/each}}

        {{!-- Escaped Handlebars expressions --}}

        \{{escaped}}

        {{{{raw}}}}
          {{escaped}}
        {{{{/raw}}}}

    </body>

</html>
